$search-icon-size: 16px;
$placeholder-color: #9e9e9e;
.add-songs {
  display: flex;
  flex-direction: column;
  padding: 0.625em;
  width: 100%;
  min-height: 400px;
  .song-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50vw;
    width: 100%;
    .song-info {
      display: flex;
      align-items: center;
      flex-direction: row;

      .song-details {
        display: flex;
        flex-direction: column;
        h3 {
          color: #fff;
          font-size: 16px;
          margin-bottom: 5px;
        }
        p {
          color: #9e9e9e;
          font-size: 14px;
        }
      }
    }
  }

  .search-container {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    max-width: 400px;

    svg {
      width: $search-icon-size;
      height: $search-icon-size;
      margin-right: 10px;
      fill: #fff; // Adjust if you have a different color for the search icon
    }

    input {
      width: 100%;
      border: none;
      background: none;
      color: #fff; // Adjust if your text color is different
      padding: 5px 0;

      &::placeholder {
        color: $placeholder-color;
      }

      &:focus {
        outline: none;
      }
    }
  }

  h1 {
    color: #fff; // Adjust if your heading color is different
    font-size: 24px;
    margin-bottom: 20px;
  }
  .song-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .add-to-playlist {
      background-color: transparent;
      min-width: em(60px);
      border: 1px solid #fff;
      border-radius: 25%;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        border: 1.5px solid #fff;
      }
    }
  }
}
