.app-footer {
  color: $sec-font-clr;
  display: flex;
  justify-content: center;
  align-items: start;
  max-height: em(70px);
  height: 100%;
  width: 100%;
  border-radius: em(7px);
  align-self: center;
  padding: em(1px);
  padding-right: em(15px);
  background-color: #454a44;

  margin: 0;
}

@include for-normal-layout {
  .app-footer {
    background-color: $main-bg-clr;
  }
}
