.app-footer {
  color: $sec-font-clr;
  display: flex;
  justify-content: center;
  align-items: start;
  max-height: em(70px);
  min-height: em(45px);
  height: 100%;
  width: 95%;
  border-radius: em(7px);
  align-self: center;
  padding: em(1px);
  background-color: #454a44;
  position: relative;

  margin-right: 1000px;
  margin-left: 10px;
}

@include for-normal-layout {
  .app-footer {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    background-color: $main-bg-clr;
  }
}
