.app-header {
  background-image: linear-gradient(to bottom, $sec-bg-clr, $sec-bg-clr);
  min-height: em(65px);
  display: flex;
  justify-content: space-around;
  align-items: start;
  z-index: 2;
  top: 0;
  position: sticky;

  input {
    display: none;
    height: 30px;
  }

  img {
    width: rem(75px);
  }
}
