.app-header {
  height: em(50px);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: em(5px);
  z-index: 2;
  top: 0;
  position: sticky;
  // margin: em(15px) 0 em(15px) 0;

  button {
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 50%;

    * {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      width: em(13px);
      height: em(13px);
      fill: white;
      margin: em(10px);
    }
  }

  .input-wrapper {
    display: none;
    background-color: $input-bg-clr;
    justify-content: start;
    align-items: center;
    border-radius: em(50px);
    height: em(48px);
    padding: em(6px) em(15px);
    width: em(300px);
    &:focus-within {
      border: em(2px) solid white;
      &:hover {
        border: em(2px) solid white;
      }
      svg {
        fill: white;
      }
    }

    &:hover {
      background-color: $input-hover-bg-clr;
      border: em(1px) solid;
      border-color: $input-hover-border-clr;
    }

    &:target {
      border: em(3px) solid;
      border-color: $input-hover-border-clr;
    }

    // this effects the div inside the svg div
    div {
      display: flex;
      align-items: center;
    }

    input {
      background-color: transparent;
      margin-left: em(10px);
      width: 100%;
      box-sizing: border-box;
      color: white;
    }
  }

  // I don't know what the img is related to..
  img {
    width: rem(75px);
  }
}
