.artist-results {
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow: hidden;

  .artist-results-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .artist-card {
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      .artist-img {
        position: relative;
        width: 16vh;
        height: 16vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
        }

        .play-btn {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          opacity: 0;
          bottom: em(8px); /* Align play button to the bottom of the image */
          background-color: $logo-clr; /* Use the logo color for the play button */
          border: none;
          border-radius: 500px;
        }
      }

      border-radius: em(8px);
      padding: em(10px);
      &:hover {
        background-color: #242424;

        .play-btn {
          width: em(40px);
          height: em(40px);
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 0;
          //all child elements will be centered
          * {
            display: flex;
            justify-content: center;
            align-items: center;
            * {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          svg {
            width: rem(20px);
            height: rem(20px);
          }
        }
      }
    }
  }
}
