.catalog {

    display: flex;
    flex-direction: column;
    gap: em(10px);

    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: em(50px);
    }

    .show-all-link {
        color: $sec-font-clr;
        align-self: flex-end;
        font-size: em(14px);
    }

    .list-container {
        max-height: em(220px);
        overflow: hidden;
    }

    .station-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: em(20px);
    }

    .station-preview {
        display: flex;
        flex-direction: column;
        gap: em(10px);
        align-items: center;
        max-width: em(200px);
        max-height: em(200px);

        img {
            max-width: em(140px);
            max-height: em(140px);
            border-radius: em(6px);
            box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
        }

    }
}