.catalog {

    display: flex;
    flex-direction: column;
    gap: em(10px);

    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: em(50px);
    }

    .show-all-link {
        color: $sec-font-clr;
        align-self: flex-end;
        font-size: em(14px);
    }

    .list-container {
        max-height: em(220px);
        overflow: hidden;
    }

    .station-list {
        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;
        gap: em(10px);
    }

    .station-preview {
        display: flex;
        flex-direction: column;
        gap: em(10px);
        align-items: center;

        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 25%;

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: em(150px);
            height: em(150px);
            overflow: hidden;
            border-radius: em(6px);

            img {
                box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }

    }
}