.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  padding: 5px;

  li {
    display: inline;
    padding: 10px;
    border-radius: 35%;
    background-color: #181818;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #242424;
    }
  }
}
