.full-player {
  display: flex;
  width: 100%;
  .player-actions {
    display: none;
  }
}

@include for-normal-layout {
  .full-player {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    height: max-content;
    gap: em(10px);
    justify-content: center;
    align-items: center;

    .song-details {
      grid-column: 1;
      max-height: inherit;
    }
    .player {
      grid-column: 2;
      max-height: inherit;
    }
    .player-actions {
      display: flex;
      grid-column: 3;
      max-height: inherit;
    }
  }
}
