.full-player {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
  .player-actions {
    display: none;
  }
}

@include for-normal-layout {
  .full-player {
    display: grid;
    grid-template-columns: 10fr 14fr 10fr;
    grid-template-rows: auto;
    gap: em(10px);
    margin-top: em(8px);

    .song-details {
      grid-column: 1;
      max-height: inherit;
    }
    .player {
      grid-column: 2;
      max-height: inherit;
    }
    .player-actions {
      display: flex;
      grid-column: 3;
      max-height: inherit;
    }
  }
}
