.library-container {
  display: none;
}

@include for-normal-layout {
  .library-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;


    // .library-header {}

    .station-list {
      row-gap: em(2px);
      display: flex;
      flex-direction: column;

      .station-preview {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: em(10px);
        padding: em(4px);
        border-radius: em(4px);

        &:hover {
          background-color: rgba(84, 79, 79, 0.149);
        }

        .img-container {
          display: flex;
          // justify-content: center;
          align-items: center;

          img {
            width: em(40px);
            height: em(40px);
            object-fit: cover;
            border-radius: em(4px);
          }
        }

        .info-container {
          display: flex;
          justify-content: center;

          .station-name {
            color: white;
            font-size: em(13px);
          }

          .station-creator {
            font-size: em(11px);
          }
        }
      }
    }

    .compact {

      row-gap: 0;

      .station-preview {

        .info-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: em(6px);
        }

        .img-container {
          display: none;
        }
      }
    }
  }
}