.library-container {
  display: none;
}

@include for-normal-layout {
  .library-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;


    // .library-header {}

    .station-list {
      row-gap: em(10px);
      display: flex;
      flex-direction: column;

      .station-preview {
        display: grid;
        grid-template-columns: 1fr 2fr;

        .img-container {
          display: flex;
          // justify-content: center;
          align-items: center;

          img {
            width: em(40px);
            height: em(40px);
            object-fit: cover;
            border-radius: 10%;
          }
        }

        .info-container {
          display: flex;
          justify-content: center;

          .station-name {
            color: white;
            font-size: em(13px);
          }

          .station-creator {
            font-size: em(11px);
          }
        }
      }
    }
  }
}