.mini-preview {

    display: flex;
    align-items: center;
    border-radius: em(3px);
    background-color: $secondary-main-clr;

    img {
        width: em(50px);
        height: em(50px);
        border-radius: em(3px) 0 0 em(3px);
    }

    span {
        width: 100%;
        padding-left: em(5px);
    }
}