.nav-bar {
  display: flex;
  flex-direction: column;
  gap: em(5px);
  min-width: em(75px);
  overflow: hidden;
  margin-left: rem(5px);
  margin-right: rem(5px);

  .nav-options {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    .to-library {
      display: block;
    }
  }

  //all the children of the nav-bar border-radius
  >* {
    border-radius: em(5px);
    background-color: $sec-bg-clr;
  }

  .nav-options {
    a {
      display: flex;
      gap: em(10px);
      text-decoration: none;
    }

    svg {
      height: em(16px);
      width: em(16px);
      fill: $sec-font-clr;
    }

    .nav-page {
      color: $sec-font-clr;
    }

    .clicked {
      color: white;

      svg {
        fill: white;
      }
    }
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  .library-container {
    padding: 10px;
    width: 100%;
    height: 100%;
    padding: em(10px);
    overflow-y: scroll;
  }

  .library-container::-webkit-scrollbar {
    background-color: transparent;
    scrollbar-width: thin;

  }

  .library-container:hover::-webkit-scrollbar-thumb {
    background: #555;
  }
}

@include for-normal-layout {
  .nav-bar {
    .nav-options {
      display: flex;
      justify-content: start;
      flex-direction: column;
      gap: em(15px);
      min-height: em(70px);
      padding: em(20px) em(20px) em(20px) em(5px);

      .to-library {
        display: none;
      }
    }
  }
}