.nav-bar {
  /*  mobile display */

  display: flex;
  flex-direction: column;
  gap: em(8px);
  min-width: em(75px);
  overflow: hidden;

  svg {
    height: em(20px);
    width: em(20px);
    fill: $sec-font-clr;
  }

  .icon-lable-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: em(4px);
    text-decoration: none;
  }

  .nav-options {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;

    .to-library {
      display: block;
    }
  }

  //all the children of the nav-bar border-radius
  >* {
    border-radius: em(8px);
    background-color: $sec-bg-clr;
  }
}

@include for-normal-layout {
  .nav-bar-content {
    .nav-bar {
      &>* {
        padding: em(8px) em(8px);
      }

      .icon-lable-div {
        flex-direction: row;
        padding: em(4px) em(12px);
        justify-content: start;
      }

      span {
        color: $sec-font-clr;
      }

      .icon-lable-div {
        display: flex;
        grid-template-columns: 1fr 1fr;
        gap: em(10px);
        text-decoration: none;
      }

      .icon-lable-div:hover {
        span {
          color: white;
          transition: color 300ms linear;
        }

        svg {
          fill: white;
          transition: fill 300ms linear;
        }
      }

      .nav-options {
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: em(15px);

        .clicked {
          color: white;

          svg {
            fill: white;
          }
        }
      }

      .library-container {

        width: 100%;
        height: 100%;
        overflow: hidden;

        .play-btn {
          display: none;
        }

        .library-header {
          display: grid;
          grid-template-columns: auto auto;
          gap: em(10px);
          background-color: $sec-bg-clr;
          border-radius: em(8px);
          margin-bottom: em(10px);

          .icon-lable-div {
            grid-column: 1;
          }

          .library-header-right {
            display: flex;
            justify-content: end;
            gap: em(10px);
            grid-column: 2;
            grid-row: 1;

            svg {
              height: em(12px);
              width: em(12px);
              fill: $sec-font-clr;
            }

            button {
              background-color: transparent;
              cursor: pointer;
              border-radius: 50%;
              border: none;
              aspect-ratio: 1/1;
            }

            button:hover {
              background-color: rgba(53, 51, 51, 0.363);
              transition: background-color 150ms linear;

              svg {
                fill: white;
                transition: fill 150ms linear;
              }
            }
          }

          .library-view-options {
            grid-row: 2;
            grid-column: 2;

            .dropdown-toggle {
              justify-content: end;


            }

            .dropdown-menu-container {
              .dropdown-menu {
                font-size: em(14px);

                .dropdown-icon {
                  svg {
                    height: em(14px);
                    width: em(14px);
                  }
                }
              }
            }
          }
        }

        .list-container {
          overflow-y: scroll;
          height: 100%;

          .station-list {}

        }

        ::-webkit-scrollbar-button {
          display: none;
        }

        ::-webkit-scrollbar-button {
          display: none;
        }

        .list-container::-webkit-scrollbar {
          background-color: transparent;
          scrollbar-width: thin;
        }

        .list-container:hover::-webkit-scrollbar-thumb {
          background: #555;
        }

      }
    }
  }

  .narrow-nav-bar {

    .nav-bar {
      min-width: em(44px);

      span,
      button {
        display: none;
      }

      .nav-options {}

      .library-container {

        .library-header {
          display: flex;
          gap: unset;

          .icon-lable-div {
            justify-content: center;
          }

        }

        .station-list {
          .station-preview {
            display: flex;
            justify-content: center;
            margin-left: em(4px);
          }
        }
      }
    }
  }
}