.player-actions {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  gap: 1em;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  //align all items to the center of thier cell
  justify-content: center;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      svg {
        fill: $logo-clr;
        height: 18px;
        width: 18px;
      }
    }
  }
  svg {
    fill: $sec-font-clr;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}
