//for mobile layout
.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@include for-normal-layout {
  .search-results {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;

    gap: 20px;

    .top-song-result {
      grid-row: 1;
      grid-column: 1;
      position: relative; /* Add this line to position the play button */
      padding: em(20px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      container-type: inline-size;
      margin: 0;
      //strech the element to the full width and height of the parent
      width: 100%;
      height: 100%;

      .top-song-details {
        position: relative;
        border-radius: em(8px);
        padding: em(20px);
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.01);
        background-color: #181818;
        display: flex;
        flex-direction: column;
        gap: em(20px);

        &:hover {
          background-color: #242424;
          .play-btn {
            display: flex; /* Show play button on hover */
            align-items: center;
            justify-content: center;
          }
        } /* Add this line to enable absolute positioning for the play button */
      }

      .play-btn {
        display: none;
        position: absolute; /* Position the play button absolutely */
        bottom: em(20px); /* Align play button to the bottom of the image */
        right: em(20px); /* Align play button to the right of the image */
        background-color: $logo-clr; /* Use the logo color for the play button */
        border: none;
        border-radius: 50%; /* Make the play button circular */
        width: em(60px);
        height: em(60px);
        svg {
          width: em(24px);
          height: em(24px);
        }
      }
    }

    .song-resuls {
      grid-row: 1;
      grid-column: 2;
    }

    .station-results {
      grid-row: 2;
      grid-column: 1 / -1;
    }
  }
}
