.song-list {
  list-style-type: none;
  padding: em(10px);
  margin: 0;

  .song-header,
  .song-container {
    display: grid;
    grid-template-columns: 1fr 40% 8fr 8fr 8fr;
    align-items: center;
    padding: em(10px);
    gap: em(20px);

    .song-order,
    .song-date-added,
    .song-duration {
      text-align: left;
    }

    .song-title,
    .song-album,
    .song-date-added,
    .song-duration {
      color: $sec-font-clr;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .song-duration {
      text-align: right; // Aligns the duration to the right
      padding-right: 10px; // Adds some padding to the right

      svg {
        width: em(16px); // Adjust icon size if necessary
        height: em(16px); // Adjust icon size if necessary
        fill: #888;
      }
    }
  }

  .song-header {
    color: #888;
    font-size: em(12px);
    font-weight: bold;
    // border-bottom: 1px solid #888;
    padding-bottom: 10px;
    width: 100%;

    .song-duration {
      display: flex;
      justify-content: end;
      margin-right: 10px;
    }
  }

  .song-container {
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: em(5px);

    .song-order-play {
      display: flex;
      justify-content: center;
      align-items: center;

      .song-order {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #888;
      }
      .play-btn {
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #888;
        background-color: transparent;

        svg {
          width: em(16px);
          height: em(16px);
          fill: white;
          background-color: transparent;
        }
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      .song-order-play {
        .song-order {
          display: none;
        }
      }
      .play-btn {
        display: block;
      }
    }
  }
  .song-container.active {
    background-color: #656465;
    .song-details {
      small {
        color: #fff;
      }
    }
  }
}
