.song-results {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: space-between;
  gap: 0px;
  .song-header {
    flex: 1;
  }

  .song-result {
    flex: 2;
    display: grid;
    grid-template-columns: 8% 63% 25%; /* Adjusted grid-template-columns */
    grid-template-rows: 1fr;
    border-radius: 5px;
    gap: 15px;
    max-height: 70px;
    width: 100%;
    padding: em(10px);
    align-items: center;
    overflow: hidden;
    .song-img {
      position: relative; // Ensure positioning context for absolute positioning of play button
      width: em(40px);
      height: em(40px);
      border-radius: em(5px);
      overflow: hidden; // Ensure the play button doesn't overflow the image wrapper
      img {
        width: 100%;
        height: 100%;
        border-radius: em(5px);
      }
      .play-btn {
        border: none;
        position: absolute; // Position the play button absolutely within the image wrapper
        top: 0; // Align play button to the top of the image
        left: 0; // Align play button to the left of the image
        width: 100%; // Make the play button same width as the image
        height: 100%; // Make the play button same height as the image
        background-color: rgba(
          0,
          0,
          0,
          0.5
        ); // Transparent black background color
        display: none; // Ensure the play button content aligns properly
        justify-content: center; // Center play button content horizontally
        align-items: center; // Center play button content vertically
        svg {
          fill: white; // White color for the play icon
          width: em(20px);
          height: em(20px);
        }
      }
    }

    .song-actions {
      display: flex;
      gap: 2px;
      align-items: center;
      justify-content: space-evenly;
      color: $sec-font-clr;
      padding: 5px;
      svg {
        fill: $sec-bg-clr;
        transition: transform 0.2s;

        &:active {
          transform: scale(1.1);
        }
        &:hover {
          transform: scale(0.9);
        }
      }
      .added {
        svg {
          fill: $logo-clr;
          &:hover {
            fill: $logo-clr;
          }
        }
      }
      .duration {
        font-size: 0.875rem;
        display: block;
        justify-self: center;
        align-self: center;
      }
    }
    .song-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      gap: 2px;
      p {
        font-size: 1rem;
        font-weight: bold;
        font-weight: 400;
        text-wrap: nowrap;
        overflow: hidden;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      small {
        font-size: 0.875rem;
        font-weight: bold;
        color: #6a6a6a;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    &:hover {
      .song-info {
        small {
          color: #fff;
        }
      }

      .song-actions {
        svg {
          fill: $sec-font-clr;
          cursor: pointer;
        }
      }
      background-color: #242424;
      .song-img {
        .play-btn {
          display: flex;
        }
      }
    }
  }
}

.song-result.active {
  .song-actions {
    svg {
      fill: $sec-font-clr;
      cursor: pointer;
    }
  }
  background-color: #656465;
  .song-details {
    .song-img {
      .play-btn {
        display: flex;
      }
    }
  }
}
