//for mobile
.song-details {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  a {
    font-size: unset;
    font-family: unset;
    color: unset;
  }
  p {
    font-size: rem(13px);
    color: $sec-font-clr;
    overflow: hidden;
    text-wrap: pretty;
  }
  .song-img {
    width: em(56px);
    height: em(56px);
    max-width: em(56px);
    min-height: em(56px);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}

@include for-normal-layout() {
  .song-details {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    a {
      font-size: unset;
      font-family: unset;
      color: unset;
    }
    p {
      font-size: rem(13px);
      color: $sec-font-clr;
      overflow: hidden;
      text-wrap: pretty;
    }
    .song-img {
      position: relative; // Ensure positioning context for absolute positioning of play button
      width: em(40px);
      height: em(40px);
      border-radius: em(5px);
      overflow: hidden; // Ensure the play button doesn't overflow the image wrapper
      img {
        width: 100%;
        height: 100%;
        border-radius: em(5px);
      }
    }
  }
}
