.song-results {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;

  .song-header {
    h1 {
      margin: 0;
    }
  }

  .song-result {
    flex: 2;
    display: grid;
    grid-template-columns: 8fr 63fr 25fr;
    grid-template-rows: 1fr;
    border-radius: 5px;
    max-height: em(60px);
    padding-left: em(16px);
    width: 100%;
    align-items: center;

    &:hover {
      background-color: #242424;

      .song-info small {
        color: #fff;
      }

      .song-actions svg {
        fill: $sec-font-clr;
        cursor: pointer;
      }

      .song-img .play-btn {
        display: flex;
      }
    }

    &.active {
      background-color: #656465;

      .song-info small {
        color: #fff;
      }

      .song-actions svg {
        cursor: pointer;
      }

      .song-img .play-btn {
        display: flex;
      }
    }

    .song-img {
      position: relative;
      width: em(40px);
      height: em(40px);
      border-radius: em(5px);
      margin-right: em(5px);
      aspect-ratio: 1/1;

      img {
        width: 100%;
        height: 100%;
        border-radius: em(5px);
        object-fit: cover;
      }

      .play-btn {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;

        svg {
          fill: white;
          width: em(20px);
          height: em(20px);
        }
      }
    }

    .song-actions {
      display: flex;
      gap: 2px;
      align-items: center;
      justify-content: space-evenly;
      color: $sec-font-clr;
      padding: 5px;

      svg {
        fill: transparent;
        transition: transform 0.2s;

        &:active {
          transform: scale(1.1);
        }

        &:hover {
          transform: scale(0.9);
        }
      }

      .duration {
        font-size: 0.875rem;
        display: block;
        justify-self: center;
        align-self: center;
      }
    }

    .song-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 2px;
      overflow: hidden;

      p {
        font-size: 1rem;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      small {
        font-size: 0.875rem;
        font-weight: bold;
        color: #6a6a6a;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
