.song-list {
  list-style-type: none;
  padding: 10px;
  margin: 0;

  .song-header,
  .song-container {
    display: grid;
    grid-template-columns: 1fr 80% 5fr;
    align-items: center;
    padding: 10px;

    .song-order,
    .song-date-added,
    .song-duration {
      text-align: left;
    }

    &.playing {
      color: $logo-clr;

      .song-details {
        p {
          color: $logo-clr;
        }
      }

      .play-icon,
      .pause-icon,
      .playing-icon {
        svg {
          fill: white;
        }
      }
    }

    .song-name,
    .song-album,
    .song-date-added,
    .song-duration {
      color: $sec-font-clr;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .song-album,
    .song-date-added {
      display: none;
    }

    .song-duration {
      text-align: right;
      padding-right: 10px;

      svg {
        width: 16px;
        height: 16px;
        fill: #888;
      }
    }
  }

  .song-header {
    color: #888;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    width: 100%;

    .song-duration {
      display: flex;
      justify-content: end;
      margin-right: 10px;
    }
  }

  .song-container {
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    .song-details {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: none;

      .song-info {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .song-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block; /* Add this line */
          width: 100%; /* Add this line */
        }
      }
    }

    .song-order-play {
      display: flex;
      justify-content: center;
      align-items: center;

      .song-order {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #888;
      }

      .play-btn {
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #888;
        background-color: transparent;

        svg {
          width: 16px;
          height: 16px;
          fill: white;
          background-color: transparent;
        }
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);

      .song-order-play {
        .song-order {
          display: none;
        }
      }

      .play-btn {
        display: block;
      }
    }
  }

  .song-container.active {
    background-color: #656465;

    .song-details {
      small {
        color: #fff;
      }
    }
  }
}

@include for-normal-layout {
  .song-list {
    .song-header,
    .song-container {
      grid-template-columns: 1fr 40% 8fr 8fr 8fr;
      gap: 10px;

      .song-album,
      .song-date-added {
        display: block;
      }
    }
  }
}
