//for mobile
.song-details {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  p {
    font-size: rem(13px);
    color: $sec-font-clr;
    overflow: hidden;
    text-wrap: pretty;
  }
  small {
    font-size: rem(11px);
    color: $sec-font-clr;
  }
  .song-img {
    width: em(56px);
    height: em(56px);

    aspect-ratio: 1/1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}

@include for-normal-layout() {
  .song-details {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    a {
      font-size: unset;
      font-family: unset;
      color: $main-font-clr;
    }
    p {
      font-size: rem(13px);
      color: white;
      overflow: hidden;
      text-wrap: pretty;
    }
    small {
      font-size: rem(11px);
      color: $sec-font-clr;
      text-wrap: pretty;
    }
    .song-img {
      position: relative; // Ensure positioning context for absolute positioning of play button
      width: em(40px);
      height: em(40px);
      border-radius: em(5px);
      overflow: hidden; // Ensure the play button doesn't overflow the image wrapper
      img {
        width: 100%;
        height: 100%;
        border-radius: em(5px);
      }
    }
  }
}
