.song-list {
  list-style-type: none;
  padding: em(10px);
  margin: 0;

  .song-header,
  .song-container {
    display: grid;
    grid-template-columns: 50px 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 0;

    .song-order,
    .song-date-added,
    .song-duration {
      text-align: center;
    }

    .song-title,
    .song-album,
    .song-date-added,
    .song-duration {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .song-duration {
      text-align: right; // Aligns the duration to the right
      padding-right: 10px; // Adds some padding to the right

      svg {
        width: 20px; // Adjust icon size if necessary
        height: 20px; // Adjust icon size if necessary
        fill: #888;
      }
    }
  }

  .song-header {
    color: #888;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #888;

    .song-duration {
      //make sure the header svg is aligned to the right
      display: flex;
      justify-content: flex-end;
    }
  }

  .song-container {
    color: #fff;
    font-size: 14px;
  }
}
