.station-actions {
  display: flex;
  justify-content: start;
  align-self: center;
  align-items: center;
  gap: em(30px);
  min-height: em(70px);
  padding: 0 em(20px);
  width: 100%;

  .play-btn {
    width: em(70px);
    height: em(70px);
    background-color: $logo-clr; /* Use the logo color for the play button */
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
      display: flex;
      justify-content: center;
      align-items: center;
      * {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    svg {
      width: em(25px);
      height: em(25px);
    }
  }

  .generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: $sec-font-clr;
    border: none;
    border-radius: 25px;
    padding: em(5px) em(10px);
    font-size: em(13px);
    gap: em(7px);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    * {
      svg {
        width: em(25px);
        height: em(25px);
        fill: $sec-font-clr;
      }
    }

    // &:hover {
    //   background-color: $logo-clr; /* Change to logo color on hover */
    //   color: #fff; /* Change text color on hover */
    //   * {
    //     svg {
    //       fill: #fff; /* Change icon color on hover */
    //     }
    //   }
    // }

    &:focus {
      outline: none;
      box-shadow: 0 0 em(5px) rgba(0, 0, 0, 0.2);
    }
  }

  .change-view {
    margin-left: auto;
    padding-right: 0;
  }
}
