.station-header {
  padding: 1em;
  overflow: hidden;

  .station-header-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-radius: 5px;
    color: white;
    font-weight: bold;

    .station-header-img {
      position: relative;
      width: 100px;
      height: 100px;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;

        svg {
          width: 30px;
          height: 30px;
          fill: white;
        }
      }

      &:hover .overlay {
        opacity: 1;
      }
    }

    .station-header-info {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      .station-type {
        font-size: 0.75em;
        font-weight: normal;
      }

      .station-creator {
        font-size: 1em;
      }

      .station-name {
        font-size: var(--dynamic-font-size, 2em); // Use a custom property
        font-family: "CircularSpotifyTextBold";
        font-weight: 700;
        display: inline;
        text-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@include for-normal-layout {
  .station-header {
    height: 100%;
    padding: 1em;

    .station-header-grid {
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-template-rows: 1fr;
      gap: 1em;
      border-radius: 5px;
      color: white;
      font-size: 1.5em;
      font-weight: bold;
      align-items: center;
      justify-content: space-between;

      .station-header-img {
        width: 15vw;
        height: 15vw;
        border-radius: 2.5%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1em;
          opacity: 0;
          transition: opacity 0.3s ease;

          svg {
            width: 50px;
            height: 50px;
            fill: white;
          }
        }

        &:hover .overlay {
          opacity: 1;
        }
      }

      .station-header-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 0;

        .station-type {
          font-size: 0.5em;
          font-weight: normal;
          align-self: start;
        }
        .station-name {
          font-size: var(--dynamic-font-size, 2em); // Use a custom property
          font-family: "CircularSpotifyTextBold";
          font-weight: 700;
          display: inline;
          text-wrap: nowrap;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .station-info {
          display: flex;
          flex-direction: row;
          gap: 0.15em;

          .station-creator {
            font-family: "CircularSpotifyTextBold";
            font-weight: 700;
            display: flex;
            gap: 0.3em;
            justify-content: start;
            align-items: center;
            font-size: 0.5em;

            &::after {
              font-size: 0.5em;
              content: "•";
            }

            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
            }
          }

          .station-stats {
            display: flex;
            gap: 0.5em;
            font-size: 0.5em;
            align-items: center;
            justify-content: start;
          }
        }

        .station-description {
          font-size: 0.5em;
          word-break: break-word;
          color: $sec-font-clr;
        }
      }
    }
  }
}
