.time-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;

  .MuiSlider-root {
    padding: 0;
  }

  .time-bar-thumb {
    display: none;
  }

  .time-bar-track {
    color: #fff;
    height: em(1px);
  }

  .time-bar-rail {
    color: rgba(255, 255, 255, 0.3);
    height: em(2px);
  }
}

@include for-normal-layout {
  .time-bar {
    width: 100%;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .MuiSlider-root {
      padding: 0;
    }

    .time-bar-thumb {
      display: block;
      background-color: #fff; /* Set the color of the thumb */
      &:hover {
        box-shadow: 0 0 0 0; /* Remove the box shadow on hover */
      }
      padding: 0; /* Remove padding */
    }
    .time-bar-track {
      height: em(3px); /* Set the height of the track */
      color: #fff;
    }
    .time-bar-rail {
      height: em(4px); /* Set the height of the rail */
      color: $sec-font-clr;
    }
    .time-bar-thumb {
      width: 0px; /* Set the width of the thumb */
      height: 0px; /* Set the height of the thumb */
    }
  }
}
