.time-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  .time-bar-track {
    color: #fff;
  }
  .time-bar-rail {
    color: $sec-font-clr;
  }
  .time-bar-thumb {
    width: 0px; /* Set the width of the thumb */
    height: 0px; /* Set the height of the thumb */
  }
}

@include for-normal-layout {
  .time-bar {
    width: 100%;
    position: relative;
    padding: 0;

    .MuiSlider-root {
      padding: 0;
    }

    .time-bar-thumb {
      background-color: #fff; /* Set the color of the thumb */
      &:hover {
        box-shadow: 0 0 0 0; /* Remove the box shadow on hover */
      }
      padding: 0; /* Remove padding */
    }
  }
}
