* {
  box-sizing: border-box;
}

html {
  // font-family: montserrat;
  // line-height: 1.6;
  color: $main-font-clr;
}

body {
  margin: 0;
  background-color: $main-bg-clr;
  font-family: "CircularSpotifyText";
  font-size: 1.125rem;
}
div {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  // margin: 0 0 0.6em;
  // line-height: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section,
main,
footer {
  //padding: 5px;
}

img {
  max-width: 45vw;
  max-height: 45vh;
}

p {
  margin: 0; //margin: 0 0 1em;
}

a {
  text-decoration: unset;
  color: unset;
  cursor: pointer;
}

a:hover {
  //text-decoration: underline;
}
svg {
  min-width: 15px;
  min-height: 15px;
}
