.page-container {
  display: none;
}

.page-container-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .mobile-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;

    .app-footer {
    }
  }

  // .nav-bar-cotent {}

  // .nav-bar {}

  // .main-container {}

  // .app-footer {}
}

@include for-normal-layout {
  .page-container-mobile {
    display: none;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: em(10px);
  }

  .main-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  .nav-bar-cotent {
    width: 100%;
    height: 100%;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .separator {
    width: 0.2rem;
    cursor: col-resize;
    background-color: transparent;
    height: 98%;
    align-self: center;
    margin: 0 4px;
    transition: background-color 0.3s ease, height 0.3s ease, margin 0.3s ease;

    &:hover {
      background-color: rgba($color: $sec-font-clr, $alpha: 0.7);
    }

    &.dragging {
      background-color: $sec-font-clr;
    }
  }

  .content-area {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  .main-container {
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 8px;
    background-color: $sec-bg-clr;
    min-width: 60vw;

    .main-container-bg {
      transition: background-image 2s ease;
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      scrollbar-width: thin;
    }

    &:hover::-webkit-scrollbar-thumb {
      background: #555;
    }
  }

  .toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .app-footer {
    flex-shrink: 0;
  }

  .side-pop-up {
    display: flex;
    flex-direction: column;
  }
}
