.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: em(10px);
}

.main-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  flex-direction: column;
}

.separator {
  width: 0.08em;
  cursor: col-resize;
  background-color: transparent;
  height: 97%;
  align-self: center;
  margin: 0 4px;
  transition: background-color 0.3s ease, height 0.3s ease, margin 0.3s ease;

  &:hover {
    background-color: rgba($color: $sec-font-clr, $alpha: 0.7);
  }

  &.dragging {
    background-color: $sec-font-clr;
  }
}

.content-area {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-right: 8px;
  border-radius: 8px;
  background-color: $sec-bg-clr;

  &::-webkit-scrollbar {
    background-color: transparent;
    scrollbar-width: thin;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #555;
  }
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.app-footer {
  flex-shrink: 0;
}

.side-pop-up {
  display: flex;
  flex-direction: column;
}
