.search-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 em(15px) em(15px) em(15px);

  .app-header {
    top: 0;

    input {
      display: block;
    }
  }
}
