.station-page-container {
  height: 100%;
  padding: 0;
  .app-header {
    padding: 1em;
  }
}

.station-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .station-header {
    grid-row: 1;
    flex-grow: 1;
  }

  .station-content {
    grid-row: 2;
  }
}
