.station-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .station-header {
    grid-row: 1;
    flex-grow: 1;

    img {
      object-fit: cover;
      height: 200px;
      width: 200px;
    }
  }

  .station-content {
    grid-row: 2;
  }
}
