// @font-face {
//     font-family: 'MyFont';
//     src: url('path/to/MyFont.otf') format('opentype');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
  font-family: "CircularSpotifyText";
  src: url("../fonts/CircularSpotifyText-Book.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CircularSpotifyTextBold";
  src: url("../fonts/CircularSpotifyText-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}
