// @font-face {
//     font-family: 'MyFont';
//     src: url('path/to/MyFont.otf') format('opentype');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'CircularSpotifyText';
    src: url('../../fonts/CircularSpotifyText-Black.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}