// Colors
$logo-clr: #0245d0;
$main-bg-clr: #000000;
$sec-bg-clr: #1f1f1f;
$main-font-clr: #ffffff;
$sec-font-clr: #a7a7a7;
$secondary-main-clr: #282828;
$search-bar-clr: #252525;

$station-img-border-radius : 20%;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;