// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/links";
@import "basics/forms";

// Views
@import "views/HomePage";
@import "views/StationPage";
@import "views/SignInPage";
@import "views/SignUpPage";
@import "views/SearchPage";

// Components
@import "cmps/AppHeader";
@import "cmps/AppFooter";
@import "cmps/UserMsg";
@import "cmps/BrowseAll";
@import "cmps/StationResults";
@import "cmps/StationHeader";
@import "cmps/StationContent";
@import "cmps/StationActions";
@import "cmps/SongList";
@import "cmps/SongDetails";
@import "cmps/SongResults";
@import "cmps/SongContainer";
@import "cmps/SongActions";
@import "cmps/SignUpForm";
@import "cmps/SignInForm";
@import "cmps/SignHeader";
@import "cmps/SignFooter";
@import "cmps/SidePopUp";
@import "cmps/SearchResults";
@import "cmps/Recommendations";
@import "cmps/Player";
@import "cmps/PlayerActions";
@import "cmps/NavBar";
@import "cmps/NavOptions";
@import "cmps/StationPreview";
@import "cmps/StationList";
@import "cmps/Library";
@import "cmps/ImgUploader";
@import "cmps/GenrePreview";
@import "cmps/GenreList";
@import "cmps/FullScreenPlayer";
@import "cmps/FullPlayer";
@import "cmps/Catalog";
@import "cmps/TimeBar";
@import "cmps/FilterBar";
@import "cmps/ArtistResults";
@import "cmps/MinimalSong";
@import "cmps/VolumeBar.scss";
@import "cmps/MiniPreview.scss";
@import "cmps/StationEditModal.scss";
@import "cmps/DropDownMenu.scss";
@import "cmps/AddSongs.scss";
@import "cmps/ContextMenu.scss";
@import "cmps/Loader.scss";

.queue-menu {
  padding: 20px;
  color: #fff;
  max-width: 400px;
  font-family: Arial, sans-serif;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .now-playing,
  .next-up {
    margin-bottom: 20px;
  }

  .song-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 5px;
    }

    h4 {
      font-size: 16px;
      margin: 0;
    }

    p {
      font-size: 14px;
      color: #b3b3b3;
      margin: 0;
    }

    .current-song {
      color: #1db954;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    .song-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 5px;
      }

      .song-details {
        display: flex;
        flex-direction: column;

        h4 {
          font-size: 16px;
          margin: 0;
        }

        p {
          font-size: 14px;
          color: #b3b3b3;
          margin: 0;
        }
      }
    }
  }
}
